<style>
  svg {
  display:block;
  width:100%;
  margin:1em 0;
}
</style>

<svg id="ruler" style="height:6em;">
  <defs>
    <style>line{stroke:black; stroke-width:0.3mm; shape-rendering:crispEdges;}
      text{font-family:sans-serif;font-size:70%;}</style>
    <linearGradient id="ridge" x2="0" y2="1">
      <stop offset="0.01" stop-color="saddlebrown"/>
      <stop offset="0.10" stop-color="burlywood"/>
      <stop offset="0.44" stop-color="burlywood"/>
      <stop offset="0.45" stop-color="#b09070"/>
      <stop offset="0.52" stop-color="#c8a880"/>
      <stop offset="0.54" stop-color="#b09070"/>
      <stop offset="0.55" stop-color="burlywood"/>
      <stop offset="0.9" stop-color="burlywood"/>
      <stop offset="0.98" stop-color="saddlebrown"/>
    </linearGradient>
   <pattern id="cmTicks" width="1cm" height="100%" patternUnits="userSpaceOnUse" x="-1px">
     <line x1="0mm" x2="0mm" y2="30%" />
     <line x1="1mm" x2="1mm" y2="10%" />
     <line x1="2mm" x2="2mm" y2="10%" />
     <line x1="3mm" x2="3mm" y2="10%" />
     <line x1="4mm" x2="4mm" y2="10%" />
     <line x1="5mm" x2="5mm" y2="25%" />
     <line x1="6mm" x2="6mm" y2="10%" />
     <line x1="7mm" x2="7mm" y2="10%" />
     <line x1="8mm" x2="8mm" y2="10%" />
     <line x1="9mm" x2="9mm" y2="10%" />
     <line x1="10mm" x2="10mm" y2="30%" />
  </pattern>
   <pattern id="cmDigits" width="10cm" height="100%"
            patternUnits="userSpaceOnUse">
     <text y="30%" dy="1em">
       <tspan x="0cm">0</tspan>
       <tspan x="1cm">1</tspan>
       <tspan x="2cm">2</tspan>
       <tspan x="3cm">3</tspan>
       <tspan x="4cm">4</tspan>
       <tspan x="5cm">5</tspan>
       <tspan x="6cm">6</tspan>
       <tspan x="7cm">7</tspan>
       <tspan x="8cm">8</tspan>
       <tspan x="9cm">9</tspan>
     </text>
    </pattern>
    <pattern id="cmTens" width="1cm" height="100%"
            patternUnits="userSpaceOnUse">
      <text y="30%" dy="1em" x="1cm" dx="-1ex">1</text>
    </pattern>
    <pattern id="cmTwenties" width="1cm" height="100%"
            patternUnits="userSpaceOnUse">
      <text y="30%" dy="1em" x="1cm" dx="-1ex">2</text>
    </pattern>
    <pattern id="cmThirties" width="1cm" height="100%"
            patternUnits="userSpaceOnUse">
      <text y="30%" dy="1em" x="1cm" dx="-1ex">3</text>
    </pattern>
    <pattern id="cmNumbers" width="100%" height="100%"
            patternUnits="userSpaceOnUse">
     <rect height="100%" width="100%" fill="url(#cmTicks)"/>
     <rect height="100%" width="100%" fill="url(#cmDigits)"/>
      <rect height="100%" width="10cm" x="9cm" fill="url(#cmTens)"/>
      <rect height="100%" width="10cm" x="19cm" fill="url(#cmTwenties)"/>
      <rect height="100%" width="10cm" x="29cm" fill="url(#cmThirties)"/>
    </pattern>

   <pattern id="inchTicks" width="1in" height="100%" patternUnits="userSpaceOnUse" x="-1px">
     <line x1="0in" x2="0in" y1="100%" y2="70%" />
     <line x1="0.125in" x2="0.125in" y1="100%" y2="90%" />
     <line x1="0.25in" x2="0.25in" y1="100%" y2="85%" />
     <line x1="0.375in" x2="0.375in" y1="100%" y2="90%" />
     <line x1="0.5in" x2="0.5in" y1="100%" y2="75%" />
     <line x1="0.625in" x2="0.625in" y1="100%" y2="90%" />
     <line x1="0.75in" x2="0.75in" y1="100%" y2="85%" />
     <line x1="0.875in" x2="0.875in" y1="100%" y2="90%" />
     <line x1="1in" x2="1in" y1="100%" y2="70%" />
  </pattern>
   <pattern id="inDigits" width="10in" height="100%"
            patternUnits="userSpaceOnUse">
     <text y="70%">
       <tspan x="0in">0</tspan>
       <tspan x="1in">1</tspan>
       <tspan x="2in">2</tspan>
       <tspan x="3in">3</tspan>
       <tspan x="4in">4</tspan>
       <tspan x="5in">5</tspan>
       <tspan x="6in">6</tspan>
       <tspan x="7in">7</tspan>
       <tspan x="8in">8</tspan>
       <tspan x="9in">9</tspan>
     </text>
    </pattern>
    <pattern id="inTens" width="1in" height="100%"
            patternUnits="userSpaceOnUse">
      <text y="70%" x="1in" dx="-1ex">1</text>
    </pattern>
    <pattern id="inNumbers" width="100%" height="100%"
            patternUnits="userSpaceOnUse">
     <rect height="100%" width="100%" fill="url(#inchTicks)"/>
     <rect height="100%" width="100%" fill="url(#inDigits)"/>
      <rect height="100%" width="10in" x="9in" fill="url(#inTens)"/>
    </pattern>

  </defs>
     <rect width="100%" height="100%" fill="url(#ridge)" stroke="saddlebrown"/>
     <rect width="100%" height="100%" fill="url(#cmNumbers)"/>
     <rect width="100%" height="100%" fill="url(#inNumbers)"/>
</svg>
